name: NetWintun - Publish

on:
  workflow_dispatch:
  push:
    branches: [ "develop" ]

jobs:
  build:
    uses: ./.github/workflows/build.yml
  publish:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download nupkg artifact
        uses: actions/download-artifact@v4
        with:
          name: NetWintun-nupkg
          path: ./nupkg
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/NetWintun.*.nupkg --source nuget.org -k ${{ secrets.NUGET_TOKEN }}
